services:
  
  service-discovery:
    build: ./service-discovery
    ports:
      - "8500:8500"
    networks:
      - compute-network

  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - service-discovery
    networks:
      - compute-network

  gdp-growth-model:
    build: ./gdp-growth-model
    deploy:
      replicas: 2
    depends_on:
      - service-discovery
    networks:
      - compute-network

networks:
  compute-network:
    driver: bridge
